@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 10vh;
    background-color: lightblue;
    display: flex;
}
header h1{
    padding: 0px 0px 0px 30px;
    display: flex;
    align-items: center;
}
body{
    position: relative;
    font-family: "Lato", sans-serif;
}
#main {
    max-width: 100vw;
    height: 90vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 2fr 2fr 2fr;
    
}
#main .boxBooks{
    width: 300px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    border: solid lightblue 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    line-height: 1.5;
}
#addBook{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    gap: 22px;
    background-color: rgb(10, 192, 183);
    padding: 20px;
    font-size: 25px;
    width: 40vw;
    height: 75vh;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    top: 50px;
    left: 50vh;
}
#addBook > input{
    width: 400px;
    height: 25px;
    border-radius: 10px;
}
#addBook > div > button{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 2px 4px 2px 1px lightblue;
    cursor: pointer;
    font-size: 16px;
}
#addBook > div > button:focus{
    transform: scale(1, 1.1);
}
.active{
    display: none !important;
}
#toggleForm{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: lightblue;
    font-size: 35px;
}
.read{
    background-color: green;
    
}
.not_read{
    background-color: red;
}

input :checked {
   background-color: aqua;
   color: red;
   font-size: 20px;
}

/*checkbox  read*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider{
    background-color: lightgreen;
}
input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;

}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error.view {
    padding: 0.3em;
}