*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 15vh;
    background-color: lightblue;
}
body{
    position: relative;
}
#main {
    max-width: 100vw;
    height: 85vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 2fr 2fr 2fr;
    
}
#main .boxBooks{
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border: solid red 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#addBook{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    gap: 22px;
    background-color: lightsalmon;
    padding: 20px;
    font-size: 25px;
    width: 40vw;
    height: 75vh;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    top: 50px;
    left: 50vh;
}
#addBook > input{
    width: 400px;
    height: 25px;
    border-radius: 10px;
}
.active{
    display: none !important;
}
#toggleForm{

}

:checked {
    /* ... */
}